.phone
  .top
    .camera
  .screen
    .pages
      .page.page1
        h2.title Phone jQuery
        p.title2 press the screen
        .heart
      .page.page2
        h2.title Page.one
        p.word Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui maiores, eos natus voluptates velit voluptatum neque ipsam enim quidem rerum amet fuga praesentium perferendis asperiores facilis recusandae dolores mollitia? Placeat.
      .page.page3
        h2.title Page.two
        h5.word Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi iure consectetur blanditiis neque obcaecati qui accusantium veniam labore maxime consequatur?
  .bottom
    .button
      .square     
      //也可上網找方形符號當文字用
h3.state The best phone you ever met!
h2.phone_name iPhone5
  
.btns
  btn.i5 iPhone 5
  btn.i5s iPhone 5s      
  btn.i6 iPhone 6
  btn.i6s iPhone 6+
  btn.wiggle Wiggle
  btn.turn.turnAround Turn Around

          